.postcard {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    &__arrow {
      width: 0px;
      height: 0px;
      border-top: 2em solid transparent;
      border-bottom: 1em solid transparent;
      border-left: 2em solid yellow;
      margin-bottom: 10px;
    }
    &__card {
      background-color: black;
      color: white;
      border: 2px solid yellow;
      padding: 0.5em;
      align-items: flex-start;
      &__header {
        font-size: 2em;
      }
      &__content {
        padding-top: 1em;
      }
      &__footer {
        padding-top: 1em;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        &__button {
          border-color: transparent;
          color: grey;
          background-color: black;
          cursor: pointer;
        }
      }
    }
  }